@font-face {
    font-family: 'Open Sans';
    src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Martel';
    src: url(../../fonts/Martel-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat-Regular.ttf);
}