@import '../mixin.scss';
header {
    @include BG (url(../../imges/cover.png), no-repeat, 100%, center);
}

.nav {
    padding-top: 40px;
    @include flexfunksiya (row, center, space-between, wrap);
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 26px;
    }
    .item__img {
        padding: 0 42px;
    }
}