@import '../veraybls.scss';
@import '../mixin.scss';
header {
    @include BG (url(../../imges/cover.png), no-repeat, 100%, center);
}

nav {
    position: relative;
    .label {
        position: absolute;
        top: 45px;
        right: 60px;
    }
}

.nav {
    padding-top: 40px;
    @include flexfunksiya (row, center, space-between, wrap);
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 26px;
        &--item a {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.2px;
            color: $text-color;
        }
    }
    .item__img {
        padding: 0 16px;
    }
    &__list1 {
        @include flexfunksiya (row, center, center, nowrap);
        display: none;
    }
}

.input {
    display: none;
}

@media screen and (max-width:576px) {
    nav {
        position: relative;
        .label {
            position: absolute;
            top: 45px;
            right: 45px;
        }
    }
    .nav {
        background-color: #fff;
        position: relative;
        &__logo {
            padding-left: 35px;
        }
        &__list {
            background-color: #fff;
            height: 50vh;
            width: 100vw;
            z-index: 100;
            position: absolute;
            top: 164px;
            left: 0px;
            font-size: 30px;
            transform: translatey(-200%);
            @include flexfunksiya (column, center, center, wrap);
            gap: 26px;
        }
        &__list1 {
            display: block;
            @include flexfunksiya (row, center, center, nowrap);
            padding-right: 83px;
            gap: 24px;
        }
    }
    .item__img {
        display: none;
    }
    .itt {
        display: none;
    }
    .input:checked~.nav .nav__list {
        transform: translatey(0);
    }
}

.hero {
    &__left {
        padding-top: 190px;
        &--title {
            margin-bottom: 35px;
            font-family: $martol;
            font-style: normal;
            font-weight: 900;
            font-size: 58px;
            line-height: 65px;
            color: $headeding;
            max-width: 500px;
            width: 100%;
        }
        &--text {
            max-width: 376px;
            width: 100%;
            font-family: $monsirab;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $text-color;
            padding-bottom: 35px;
        }
        &--btn {
            border: none;
            padding: 10px 36px;
            background: #784F33;
            border-radius: 37px;
            font-family: $open-font;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            color: #FFFFFF;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid $btn-color;
                background-color: #fff;
                color: $btn-color;
                transform: rotate(360deg);
                cursor: pointer;
                transition: all 2s ease;
            }
        }
        &--btn1 {
            border: none;
            padding: 10px 36px;
            background: #FFFFFF;
            border-radius: 37px;
            border: 1px solid #784F33;
            border-radius: 37px;
            /* btn-text */
            font-family: $open-font;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            color: $btn-color;
            &:hover {
                background-color: $btn-color;
                color: #fff;
                transform: rotate(360deg);
                cursor: pointer;
                transition: all 2s ease;
            }
        }
    }
}