@import '../mixin';
@import '../veraybls';
.hero1 {
    &__title {
        font-family: $martol;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: $headeding;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
    }
    &__text {
        max-width: 431px;
        width: 100%;
        margin: 0 auto;
        font-family: $open-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $text-color;
        margin-bottom: 80px;
    }
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 34px;
        padding-bottom: 102px;
        &--item {
            padding: 0 107px;
            background-color: #fff;
            padding: 0 107px;
            padding-bottom: 30px;
            padding-top: 30px;
            font-family: $martol;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #252B42;
            border-radius: 5px;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        }
        &--item1 {
            padding: 0 107px;
            padding-bottom: 30px;
            padding-top: 30px;
            background-color: #295C7A;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            font-family: $martol;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #FFFFFF;
        }
    }
}