@import '../mixin';
@import '../veraybls';
.hero1 {
    &__title {
        font-family: $martol;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: $headeding;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
    }
    &__text {
        max-width: 431px;
        width: 100%;
        margin: 0 auto;
        font-family: $open-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $text-color;
        margin-bottom: 80px;
    }
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 34px;
        padding-bottom: 102px;
        &--item {
            padding: 0 107px;
            background-color: #fff;
            padding: 0 107px;
            padding-bottom: 30px;
            padding-top: 30px;
            font-family: $martol;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #252B42;
            border-radius: 5px;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        }
        &--item1 {
            padding: 0 107px;
            padding-bottom: 30px;
            padding-top: 30px;
            background-color: #295C7A;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 5px;
            font-family: $martol;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #FFFFFF;
        }
    }
}

@media screen and (max-width:576px) {
    .hero1 {
        &__title {
            max-width: 258px;
            margin: 0 auto;
            width: 100%;
        }
        &__text {
            max-width: 206px;
        }
    }
}

.hero2 {
    padding-top: 125px;
    &__title {
        text-align: center;
        font-family: $martol;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: $headeding;
    }
    &__text {
        max-width: 431px;
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 75px;
        font-family: $open-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $text-color;
    }
    &__list {
        padding-bottom: 108px;
        @include flexfunksiya (row, center, space-between, nowrap);
        gap: 40px;
        &--item {
            max-width: 240px;
            h5 {
                max-width: 145px;
                margin: 0 auto;
                font-family: $martol;
                padding-bottom: 15px;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $headeding;
            }
            p {
                max-width: 145px;
                margin: 0 auto;
                padding-bottom: 30px;
                font-family: $open-font;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $text-color;
            }
        }
        .itemm {
            p {
                padding-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .hero2 {
        background-color: #F3F3F3;
        padding-top: 125px;
        &__title {
            text-align: center;
            max-width: 124px;
            margin: 0 auto;
        }
        &__text {
            max-width: 206px;
            width: 100%;
            margin: 0 auto;
        }
        &__list {
            padding-bottom: 108px;
            @include flexfunksiya (row, center, center, wrap);
            &--item {
                background-color: #fff;
            }
        }
    }
}

.hero3 {
    padding-top: 100px;
    padding-bottom: 143px;
    &__title {
        font-family: $martol;
        padding-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $headeding;
    }
    &__text {
        font-family: $open-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        max-width: 468px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 0.2px;
        color: $text-color;
        padding-bottom: 100px;
    }
    &__left {
        @include flexfunksiya (row, center, space-between, nowrap);
        iframe {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
        }
        .aa {
            display: none;
        }
    }
    &__list1 {
        padding-left: 122px;
        &--item {
            h4 {
                font-family: $martol;
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                letter-spacing: 0.2px;
                color: $headeding;
            }
            p {
                max-width: 306px;
                font-family: $open-font;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #737373;
            }
        }
    }
    &__list--item1 {
        padding-top: 50px;
        @include flexfunksiya (row, start, start, wrap);
        img {
            padding-right: 21px;
        }
        p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #737373;
            strong {
                max-width: 270px;
                font-family: 'Martel';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: #252B42;
                display: block;
            }
        }
    }
    &__list1--item2 {
        padding-top: 30px;
        @include flexfunksiya (row, start, start, wrap);
        img {
            padding-right: 21px;
        }
        .text1 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #737373;
        }
        strong {
            max-width: 270px;
            font-family: 'Martel';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #252B42;
            display: block;
        }
    }
}

@media screen and (max-width:576px) {
    .hero3 {
        &__text {
            max-width: 206px;
            width: 100%;
            margin: 0 auto;
        }
        &__left {
            @include flexfunksiya (column, center, space-between, nowrap);
            iframe {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
            }
            .aaaa {
                display: none;
            }
            .aa {
                display: block;
                text-align: center;
            }
        }
        &__list1 {
            padding-left: 0px;
            padding-top: 72px;
            &--item {
                h4 {
                    max-width: 321px;
                    margin: 0 auto;
                    width: 100%;
                }
                p {
                    max-width: 306px;
                }
            }
        }
        &__list--item1 {
            padding-top: 50px;
            @include flexfunksiya (row, start, start, wrap);
            img {
                padding-right: 21px;
            }
            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #737373;
                strong {
                    max-width: 270px;
                    font-family: 'Martel';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    color: #252B42;
                    display: block;
                }
            }
        }
        &__list1--item2 {
            padding-top: 30px;
            @include flexfunksiya (row, start, start, wrap);
            img {
                padding-right: 21px;
            }
        }
    }
}

.hero4 {
    padding-top: 51px;
    &__site {
        padding-bottom: 71px;
        @include flexfunksiya (row, center, space-between, wrap);
        gap: 86px;
    }
    &__form {
        position: relative;
        top: 50px;
        @include BG (url(../../imges/backgroundform.png), no-repeat, 100%, center);
        .for {
            position: relative;
            bottom: 50px;
            padding: 30px 50px;
            @include flexfunksiya (row, center, space-between, wrap);
            max-width: 986px;
            width: 100%;
            margin: 0 auto;
            background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
            border-radius: 2px;
            label {
                display: block;
                max-width: 253px;
                font-family: 'Martel';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.1px;
                color: #FFFFFF;
                border: none;
            }
            &__input {
                outline: none;
                border: none;
                padding: 15px 352px 15px 20px;
            }
            &__btn {
                position: absolute;
                right: 50px;
                padding: 10px 22.5px;
                background: #D0A144;
                border: 1px solid #E6E6E6;
                border-radius: 0px 5px 5px 0px;
                border: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 28px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #FFFFFF;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .hero4 {
        padding-top: 51px;
        &__site {
            padding-bottom: 71px;
            @include flexfunksiya (column, center, center, nowrap);
            gap: 60px;
            padding-left: 132px;
            padding-right: 132px;
        }
        &__form {
            padding-bottom: 165px;
            background: transparent;
            .for {
                position: relative;
                bottom: 50px;
                padding: 30px 30px;
                @include flexfunksiya (row, center, space-between, wrap);
                max-width: 414px;
                width: 100%;
                margin: 0 auto;
                &__input {
                    max-width: 337px;
                    padding: 15px 239px 15px 20px;
                }
                &__btn {
                    position: absolute;
                    right: 44px;
                    bottom: 29px;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .hero4 {
        &__form {
            .for {
                &__btn {
                    position: absolute;
                    right: 22px;
                    bottom: 29px;
                }
            }
        }
    }
}